# Лабораторна работа 8

In [69]:
import sqlite3

## Задание 1

In [70]:
conn = sqlite3.connect("test.db")
cursor = conn.cursor()

Таблица Курьер

In [71]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS courier (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        last_name TEXT,
        first_name TEXT,
        patronymic TEXT,
        passport_number INTEGER,
        birth_date DATE,
        hiring_date DATE,
        work_start_time TIME,
        work_end_time TIME,
        city TEXT,
        street TEXT,
        house TEXT,
        apartment INTEGER,
        phone TEXT
    );
""")

Таблица Транспорт

In [72]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS transport (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        mark TEXT,
        register_date DATE,
        color TEXT
    );
""")

Таблица Заказ

In [73]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS orders  (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        sender_id INTEGER,
        receiver_id INTEGER,
        order_date DATE,
        delivery_date DATE,
        delivery_price REAL,
        courier_id INTEGER,
        transport_id INTEGER,
        FOREIGN KEY (sender_id) REFERENCES sender (id),
        FOREIGN KEY (receiver_id) REFERENCES receiver (id),
        FOREIGN KEY (courier_id) REFERENCES courier (id),
        FOREIGN KEY (transport_id) REFERENCES transport (id)
    );
""")

In [74]:
conn.commit()

Добавление данных

In [75]:
cursor.execute("""
    INSERT INTO courier (last_name, first_name, patronymic, passport_number, birth_date, hiring_date, 
                         work_start_time, work_end_time, city, street, house, apartment, phone)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
""", ('Иванов', 'Иван', 'Иванович', 123456789, '1999-01-01', '2024-01-01', 
      '09:00:00', '18:00:00', 'Москва', 'Ленина', '1', 10, '+79001234567'))
conn.commit()

In [76]:
cursor.execute("""
    INSERT INTO transport (mark, register_date, color)
    VALUES (?, ?, ?);
""", ('Toyota', '2023-01-15', 'Red'))
conn.commit()

In [77]:
cursor.execute("""
    INSERT INTO orders (sender_id, receiver_id, order_date, delivery_date, delivery_price, courier_id, transport_id)
    VALUES (?, ?, ?, ?, ?, ?, ?);
""", (1, 2, '2024-10-01', '2024-10-02', 123, 1, 1))
conn.commit()

Обновление данных

In [78]:
cursor.execute("""
    UPDATE transport
    SET color = ?
    WHERE id = ?;
""", ("Purple", 1))
conn.commit()

## Задание 2

In [83]:
from sqlalchemy import create_engine, Column, Integer, String, Date, Float, ForeignKey
from sqlalchemy.orm import declarative_base, sessionmaker, relationship

In [84]:
engine = create_engine('sqlite:///test.db', echo=True)
Base = declarative_base()

In [85]:
class Sender(Base):
    __tablename__ = 'sender'

    id = Column(Integer, primary_key=True, autoincrement=True)
    last_name = Column(String)
    first_name = Column(String)
    patronymic = Column(String)
    birth_date = Column(String)
    index = Column(Integer)
    city = Column(String)
    street = Column(String)
    house = Column(Integer)
    apartment = Column(Integer)
    phone = Column(String)

class Receiver(Base):
    __tablename__ = 'receiver'

    id = Column(Integer, primary_key=True, autoincrement=True)
    last_name = Column(String)
    first_name = Column(String)
    patronymic = Column(String)
    birth_date = Column(String)
    index = Column(Integer)
    city = Column(String)
    street = Column(String)
    house = Column(Integer)
    apartment = Column(Integer)
    phone = Column(String)

In [86]:
Base.metadata.create_all(engine)


Session = sessionmaker(bind=engine) 
session = Session()

2024-11-22 18:26:36,997 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-22 18:26:36,998 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sender")
2024-11-22 18:26:36,999 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-22 18:26:37,000 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("sender")
2024-11-22 18:26:37,001 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-22 18:26:37,002 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("receiver")
2024-11-22 18:26:37,003 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-22 18:26:37,004 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("receiver")
2024-11-22 18:26:37,004 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-11-22 18:26:37,006 INFO sqlalchemy.engine.Engine
CREATE TABLE sender (
	id INTEGER NOT NULL,
	last_name VARCHAR,
	first_name VARCHAR,
	patronymic VARCHAR,
	birth_date VARCHAR,
	"index" INTEGER,
	city VARCHAR,
	street VARCHAR,
	house INTEGER,
	apartment INTEGER,
	phone VARCHAR,
	PRIMARY KEY (id)
)


2024-11-22 18:26:37,007 INFO sqlalchemy.engine.Engine [no key 0.00097s] ()
2024-11-22 18:26:37,047 INFO sqlalchemy.engine.Engine
CREATE TABLE receiver (
	id INTEGER NOT NULL,
	last_name VARCHAR,
	first_name VARCHAR,
	patronymic VARCHAR,
	birth_date VARCHAR,
	"index" INTEGER,
	city VARCHAR,
	street VARCHAR,
	house INTEGER,
	apartment INTEGER,
	phone VARCHAR,
	PRIMARY KEY (id)
)


2024-11-22 18:26:37,047 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2024-11-22 18:26:37,054 INFO sqlalchemy.engine.Engine COMMIT

In [88]:
sender1 = Sender(
    last_name='Иванов',
    first_name='Иван',
    patronymic='Иванович',
    birth_date='1991-01-01',
    index=101000,
    city='Мурманск',
    street='ъъъъъъ',
    house=1,
    apartment=1,
    phone='1234567890'
)

sender2 = Sender(
    last_name='Петров',
    first_name='Петр',
    patronymic='Петрович',
    birth_date='1990-01-01',
    index=102000,
    city='Санкт-Петербург',
    street='Пушкина',
    house=2,
    apartment=2,
    phone='0987654321'
)

session.add(sender1)
session.add(sender2)

session.commit()

2024-11-22 18:29:49,585 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-22 18:29:49,589 INFO sqlalchemy.engine.Engine INSERT INTO sender (last_name, first_name, patronymic, birth_date, "index", city, street, house, apartment, phone) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2024-11-22 18:29:49,590 INFO sqlalchemy.engine.Engine [generated in 0.00020s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('Иванов', 'Иван', 'Иванович', '1991-01-01', 101000, 'Мурманск', 'ъъъъъъ', 1, 1, '1234567890')
2024-11-22 18:29:49,591 INFO sqlalchemy.engine.Engine INSERT INTO sender (last_name, first_name, patronymic, birth_date, "index", city, street, house, apartment, phone) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2024-11-22 18:29:49,592 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('Петров', 'Петр', 'Петрович', '1990-01-01', 102000, 'Санкт-Петербург', 'Пушкина', 2, 2, '0987654321')
2024-11-22 18:29:49,594 INFO sqlalchemy.engine.Engine COMMIT

In [89]:
receiver1 = Receiver(
    last_name='Сидоров',
    first_name='Сидор',
    patronymic='Сидорович',
    birth_date='1900-01-01',
    index=103000,
    city='Екатеринбург',
    street='....',
    house=3,
    apartment=3,
    phone='1231231234'
)

receiver2 = Receiver(
    last_name='Павлов',
    first_name='Иннокентий',
    patronymic='Алексеевич',
    birth_date='1988-04-04',
    index=104000,
    city='Новосибирск',
    street='Какая то улица.....',
    house=4,
    apartment=4,
    phone='4321432143'
)

session.add(receiver1)
session.add(receiver2)

session.commit()

2024-11-22 18:32:16,499 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-11-22 18:32:16,502 INFO sqlalchemy.engine.Engine INSERT INTO receiver (last_name, first_name, patronymic, birth_date, "index", city, street, house, apartment, phone) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2024-11-22 18:32:16,503 INFO sqlalchemy.engine.Engine [generated in 0.00026s (insertmanyvalues) 1/2 (ordered; batch not supported)] ('Сидоров', 'Сидор', 'Сидорович', '1900-01-01', 103000, 'Екатеринбург', '....', 3, 3, '1231231234')
2024-11-22 18:32:16,504 INFO sqlalchemy.engine.Engine INSERT INTO receiver (last_name, first_name, patronymic, birth_date, "index", city, street, house, apartment, phone) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2024-11-22 18:32:16,505 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('Павлов', 'Иннокентий', 'Алексеевич', '1988-04-04', 104000, 'Новосибирск', 'Какая то улица.....', 4, 4, '4321432143')
2024-11-22 18:32:16,506 INFO sqlalchemy.engine.Engine COMMIT